<!DOCTYPE HTML>
<html>
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>晓天之家</title>
      <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">XiaotianSky</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Username">
                      <input type="text" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-success">Sign in</button>
              </form>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
  <div class="jumbotron">
      <div class="container">
          <br/>
          <br/>
          <br/>
          <br/>
          <h1>Hello, everyone!</h1>
          <p>欢迎来到晓天之家，在这里，你将了解到晓天的所有动态。</p>
          <br/>
          <p><a class="btn btn-primary btn-lg" href="/todo" role="button">关于晓天 &raquo;</a></p>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h2>博客</h2>
              <blockquote>
                  <p>我希望以后的生活<br>是平凡的<br>想成为一个小卖部的老板<br>店面不需要很大<br>五十平方即可<br>商品种类无需很多<br>花生<br>瓜子<br>牛肉干<br>都是我喜欢吃的<br>一天一笔生意也无妨<br>五点准时关门<br>开着我的玛莎拉蒂<br>回到市中心五百平的别墅<br>一言不发<br>享受平凡<br></p>
                  <footer>好运不会眷顾傻瓜</footer>
              </blockquote>
              <br/>
          </div>
          <div class="col-md-4">
              <h2>心情</h2>
              <blockquote>
                  <p>Don`t forget the things you once you owed.Treasure the things youcan`t get.Don`t give up the things that belong to you and keep thoselost things in memory.</p>
                  <footer>理想还是要有的，万一见鬼了呢</footer>
              </blockquote>
              <br/>
          </div>
          <div class="col-md-4">
              <h2>留言板</h2>
              <blockquote>
                  <p>互联网的社团，不是loser抱团取暖的地方</p>
                  <footer>《罗辑思维》罗振宇</footer>
                  <br>
                  <p>随着计算机和互联网的发展，人类更多的工作将会被机器所替代，由此将会产生新的阶级"无用之人阶级"，如何安置该阶级，将成为人类21世纪的大问题。我的策略是用电子游戏和药物来让他们高兴。</p>
                  <footer>《人类简史》Yuval Noah Harari</footer>
              </blockquote>
              <br/>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4"><p><a class="btn btn-default btn-sm" role="button">跳转到博客&raquo;</a></p></div>
          <div class="col-lg-4"><p><a class="btn btn-default btn-sm" role="button">跳转到心情&raquo;</a></p></div>
          <div class="col-lg-4"><p><a class="btn btn-default btn-sm" role="button">跳转到留言板&raquo;</a></p></div>
      </div>
      <hr/>
      <footer>
          <p>&copy;QQ:286571362 Phone:18062024445</p>
          <br/>
      </footer>
      </div>
  </body>
</html>
