<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>关于晓天</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
        #walila{
            background-image: url(http://img.dwstatic.com/ls/1508/302801564771/1438846643124.jpg);
            background-size: 100%;
        }
        /*#xiangmu{*/
            /*font-size: 30px;*/
        /*}*/
        h2{font-size:50px}
        p {font-size:25px;}
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">XiaotianSky</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username">
                    <input type="text" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div id="walila">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br/>
                <br/>
                <br/>
                <br/>
                <h2>基本信息</h2>
                <hr>
                <p ><kbd>姓名：喻念</kbd></p>
                <p><kbd>学历：硕士研究生</kbd></p>
                <p><kbd>出生年月：1992.01.01</kbd></p>
                <p><kbd>毕业院校：武汉理工大学</kbd></p>
                <p><kbd>联系电话：18062024445</kbd></p>
                <p><kbd>Email:286571362@qq.com</kbd></p>
                <p><kbd>Github:https://github.com/xiaotiansky</kbd></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                </div>
        </div>
    </div>
    </div>
    <div>
        <div class="jumbotron" id="android">
            <div class="container">
                <br/>
                <br/>
                <br/>
                <br/>
                <h1>Android</h1>
                <h3 style="font-size: 30px ;font-weight:bold">项目经历</h3>
                <p style="font-weight: bold;padding-top: 10px">1、塔吊机械设备管理系统</p>
                <p>　　　中国特种设备研究院下物联网平台的子项目。通过手持Android设备（嵌入了特殊模块的手持仪）对塔吊机械等进行追踪定位、设备管理。主要功能模块有：员工登陆、设备入库、设备出库、设备安装、设备卸载、设备运输、历史记录。主要涉及技术：百度地图定位、二维码扫描、文件和图片上传、相机拍照。</p>
                <p>　　　在该项目中扮演领导者角色，从项目中逻辑设计到功能实现，全程参与，带领学弟完成整个项目。</p>
                <p style="font-weight: bold;padding-top: 10px">2、燃气助手</p>
                <p>　　　武汉蓝焰自动化应用技术有限责任公司委托项目。通过手持Android设备对燃气表具进行管理。主要功能模块有：员工登陆、燃气表安装、燃气表维修、任务查询、IC卡写卡。主要涉及技术：条形码扫描、文件上传、IC卡的读写操作。</p>
                <p>　　　该项目和师兄一起完成，具体设计和实现细节共同讨论决定。</p>
                <p style="font-weight: bold;padding-top: 10px">3、起重机械风险管理平台</p>
                <p>　　　中国特种设备研究院物联网平台的子项目。通过Android设备获取服务器端对客户所拥有的起重机械的风险评估数据，加以展示和渲染。主要功能模块有：工地展示、设备分布展示、风险排名。主要涉及技术：百度地图定位、地图展示、与后台数据交互。</p>
                <p>　　　在项目后期参与，完成地图展示功能模块。</p>
                <br><br><br><br>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <br/>
                <br/>
                <br/>
                <br/>
                <h1>JAVA</h1>
                <br>
                <br>
                <p>　　　本科时自学Java，有着良好的Java编程习惯，热爱Coding。</p>
                <p>　　　熟读《JAVA编程思想》、《JAVA疯狂讲义》。</p>
                <p>　　　熟练使用Eclipse、IntelliJ IDEA、Github等开发工具。</p>
                <br/>
                <br><br><br><br><br>
            </div>
        </div>
        <div class="jumbotron" id="nodejs">
            <div class="container">
                <br/>
                <br/>
                <br/>
                <br/>
                <h1>本站技术方案</h1>
                <br><br>
                <p>　　　<strong>前端</strong>：Html+Boorstrap</p>
                <p>　　　<strong>后台</strong>：Node.js+Express4.0+LeanCloud(云服务)</p>
                <p>　　　<strong>源码地址：</strong><a>https://github.com/xiaotiansky/WUHT-test</a></p>
                <br><br><br><br>
            </div>
        </div>
    </div>
    <footer>
    <p>&copy;QQ:286571362 Phone:18062024445</p>
    <br/>
    </footer>
</body>
</html>
